<html>
<head> <meta http-equiv="Content-Type" content="text/html;charset=utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>OJ_WEB</title>
	<script src="../bootstrap/jquery-3.2.1.min.js"></script>
    <meta http-equiv="refresh" content="60">
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-theme.css" rel="stylesheet">
	<script src="../bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

<!-- 导航栏 -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/oj_web/">OJ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Head<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Problem</a></li>
		<li><a href="../contest/status.php?cid=<{$cid}>">Contest Status</a></li>
		<li><a href="../contest/index.php">Contest</a></li>
		<li><a href="../contest/rank.php?cid=<{$cid}>">Rank</a></li>
        <li><a href="../statistics/index.php">Statistics</a></li>
        <li class="dropdown">
	
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../problem/add_problem.php">Add Problem</a></li>
            <li><a href="../contest/add_contest.php">Add Context</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
		</li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><{$name}></a></li>
        <li>
        <{if $is_login == 1}>
            <a href="../logout.php">退出</a>
        <{else}>
            <a href="../login.php"> 注册/登录</a>
        <{/if}>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<{if $is_securt == 1}>
<form method="post" action="" class="form-horizontal" role="form" id="form_data" onsubmit="return check_form()" style="margin: 20px;">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请输入密码</h4>
                </div>
                <div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<input type="text" name="password" class="form-control" id="contest_password" placeholder="密码">
						</div>
					</form>
                </div>
				<div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        提交
                    </button><span id="tip"> </span>
                </div>
            </div>
        </div>
    </div>
</form>
	<script>$('#myModal').modal();</script>
<{/if}>

<!-- 题目-->
<div class="container ">
<div class="row">
<div class="col-md9" role="main"> 

<p>
<h1 class="text-center"><{$contest_name}>
<{if $time_rate == 100}>(已结束)
<{/if}>
</h1>
</p>

<div class="row">
<div class="col-md-6">
<h4>开始时间: <{$start_time}></h4></div>
<div class=" pull-right">
<h4>结束时间: <{$end_time}></h4></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <{$time_rate}>%">
    <span class="sr-only"></span>
  </div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="text-center">题目编号</th>	
			<th class="text-center">题目名称</th>	
			<th class="text-center">通过率</th>	
		</tr>
	</thead>

	<tbody>
	<{foreach key=key item=item from=$data}>
        <tr>
	  	  <td class="text-center"><{$item.pid}></td>
          <td class="text-center"><a href="contest_problem_detail.php?pid=<{$item.pid}>&cid=<{$cid}>"><{$item.problem_name}></a></td>
          <td class="text-center"><{$item.ac_num}>/<{$item.total_num}> (<{$item.pass_percent}>%)</td>
        </tr>
	<{/foreach}>
     </tbody>

</table>
</div>
</div>
</div>
</body>

</html>
